body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


.container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  border: 1px solid;
  padding: 2em;
  border-radius: .5em;
}

.add-tasks {
  margin-bottom: 1em;
}

.show-tasks {
  border: 1px solid;
}